#map .field.building.cinema               .img_holder { background-image: URL(../img/ttd_web/buildings/cinema.png); }
#map .field.building.cotagge_tall         .img_holder { background-image: URL(../img/ttd_web/buildings/cotagge_tall.png); }
#map .field.building.cottage_small        .img_holder { background-image: URL(../img/ttd_web/buildings/cottage_small.png); }
#map .field.building.cottage_small2       .img_holder { background-image: URL(../img/ttd_web/buildings/cottage_small2.png); }
#map .field.building.cottage_small3       .img_holder { background-image: URL(../img/ttd_web/buildings/cottage_small3.png); }
#map .field.building.cottage_small4       .img_holder { background-image: URL(../img/ttd_web/buildings/cottage_small4.png); }
#map .field.building.flats_gray           .img_holder { background-image: URL(../img/ttd_web/buildings/flats_gray.png); }
#map .field.building.flats_overhang       .img_holder { background-image: URL(../img/ttd_web/buildings/flats_overhang.png); }
#map .field.building.flats0               .img_holder { background-image: URL(../img/ttd_web/buildings/flats0.png); }
#map .field.building.flats1               .img_holder { background-image: URL(../img/ttd_web/buildings/flats1.png); }
#map .field.building.flats2               .img_holder { background-image: URL(../img/ttd_web/buildings/flats2.png); }
#map .field.building.flats3               .img_holder { background-image: URL(../img/ttd_web/buildings/flats3.png); }
#map .field.building.flats4               .img_holder { background-image: URL(../img/ttd_web/buildings/flats4.png); }
#map .field.building.fountain             .img_holder { background-image: URL(../img/ttd_web/buildings/fountain.png); }
#map .field.building.hanging              .img_holder { background-image: URL(../img/ttd_web/buildings/hanging.png); }
#map .field.building.hotel                .img_holder { background-image: URL(../img/ttd_web/buildings/hotel.png); }
#map .field.building.house_modern         .img_holder { background-image: URL(../img/ttd_web/buildings/house_modern.png); }
#map .field.building.house_modern2        .img_holder { background-image: URL(../img/ttd_web/buildings/house_modern2.png); }
#map .field.building.house_pool           .img_holder { background-image: URL(../img/ttd_web/buildings/house_pool.png); }
#map .field.building.house_swiss          .img_holder { background-image: URL(../img/ttd_web/buildings/house_swiss.png); }
#map .field.building.houses_2garage       .img_holder { background-image: URL(../img/ttd_web/buildings/houses_2garage.png); }
#map .field.building.houses_2garden       .img_holder { background-image: URL(../img/ttd_web/buildings/houses_2garden.png); }
#map .field.building.houses_3             .img_holder { background-image: URL(../img/ttd_web/buildings/houses_3.png); }
#map .field.building.houses_3garden       .img_holder { background-image: URL(../img/ttd_web/buildings/houses_3garden.png); }
#map .field.building.church               .img_holder { background-image: URL(../img/ttd_web/buildings/church.png); }
#map .field.building.office_tower         .img_holder { background-image: URL(../img/ttd_web/buildings/office_tower.png); }
#map .field.building.offices_block_modern .img_holder { background-image: URL(../img/ttd_web/buildings/offices_block_modern.png); }
#map .field.building.offices_modern       .img_holder { background-image: URL(../img/ttd_web/buildings/offices_modern.png); }
#map .field.building.park1                .img_holder { background-image: URL(../img/ttd_web/buildings/park1.png); }
#map .field.building.park2                .img_holder { background-image: URL(../img/ttd_web/buildings/park2.png); }
#map .field.building.shop_mall            .img_holder { background-image: URL(../img/ttd_web/buildings/shop_mall.png); }
#map .field.building.shop_small           .img_holder { background-image: URL(../img/ttd_web/buildings/shop_small.png); }
#map .field.building.shops_and_offices    .img_holder { background-image: URL(../img/ttd_web/buildings/shops_and_offices.png); }
#map .field.building.shops_and_offices2   .img_holder { background-image: URL(../img/ttd_web/buildings/shops_and_offices2.png); }
#map .field.building.shops_modern         .img_holder { background-image: URL(../img/ttd_web/buildings/shops_modern.png); }
#map .field.building.stadium_american     .img_holder { background-image: URL(../img/ttd_web/buildings/stadium_american.png); }
#map .field.building.stadium_soccer       .img_holder { background-image: URL(../img/ttd_web/buildings/stadium_soccer.png); }
#map .field.building.statue               .img_holder { background-image: URL(../img/ttd_web/buildings/statue.png); }
#map .field.building.theater              .img_holder { background-image: URL(../img/ttd_web/buildings/theater.png); }
#map .field.building.warehouse            .img_holder { background-image: URL(../img/ttd_web/buildings/warehouse.png); }
