#map .field.building.cinema               .img_holder { top: -51px; }
#map .field.building.cotagge_tall         .img_holder { top: -43px; }
#map .field.building.cottage_small        .img_holder { top: -34px; }
#map .field.building.cottage_small2       .img_holder { top: -32px; }
#map .field.building.cottage_small3       .img_holder { top: -35px; }
#map .field.building.cottage_small4       .img_holder { top: -36px; }
#map .field.building.flats_gray           .img_holder { top: -80px; }
#map .field.building.flats_overhang       .img_holder { top: -63px; }
#map .field.building.flats0               .img_holder { top: -56px; }
#map .field.building.flats1               .img_holder { top: -74px; left: -31px; }
#map .field.building.flats2               .img_holder { top: -40px; }
#map .field.building.flats3               .img_holder { top: -57px; }
#map .field.building.flats4               .img_holder { top: -63px; }
#map .field.building.fountain             .img_holder { top: -42px; }
#map .field.building.hanging              .img_holder { top: -141px; }
#map .field.building.hotel                .img_holder { top: -89px; }
#map .field.building.house_modern         .img_holder { top: -44px; }
#map .field.building.house_modern2        .img_holder { top: -43px; }
#map .field.building.house_pool           .img_holder { top: -50px; }
#map .field.building.house_swiss          .img_holder { top: -46px; }
#map .field.building.houses_2garage       .img_holder { top: -40px; }
#map .field.building.houses_2garden       .img_holder { top: -43px; }
#map .field.building.houses_3             .img_holder { top: -37px; }
#map .field.building.houses_3garden       .img_holder { top: -39px; }
#map .field.building.church               .img_holder { top: -54px; }
#map .field.building.office_tower         .img_holder { top: -89px; }
#map .field.building.offices_block_modern .img_holder { top: -87px; }
#map .field.building.offices_modern       .img_holder { top: -119px; }
#map .field.building.park1                .img_holder { top: -44px; left: -32px; }
#map .field.building.park2                .img_holder { top: -45px; }
#map .field.building.shop_mall            .img_holder { top: -72px; }
#map .field.building.shop_small           .img_holder { top: -48px; left: -26px; }
#map .field.building.shops_and_offices    .img_holder { top: -75px; }
#map .field.building.shops_and_offices2   .img_holder { top: -85px; }
#map .field.building.shops_modern         .img_holder { top: -70px; }
#map .field.building.stadium_american     .img_holder { top: -85px; left: -65px; }
#map .field.building.stadium_soccer       .img_holder { top: -72px; left: -65px; }
#map .field.building.statue               .img_holder { top: -38px; }
#map .field.building.theater              .img_holder { top: -69px; }
#map .field.building.warehouse            .img_holder { top: -49px; }
